* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.img-consttrction {
  width: 100vw;
}
/* .main-city-detali { */
/*   /* background-image: "public/img/descarga.png"; */
/* height: 70vh; */
/* background-image: url("public/img/descarga.png"); */
/*  background-size: cover; */ /* Ajusta el tamaño para cubrir todo el elemento */
/*   background-repeat: no-repeat;  */ /* Evita que la imagen se repita */
/*  } */
