.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.searchCity {
  width: 35vw;
  height: 2.4em;
  display: flex;
  justify-content: center;
  text-align: start;
  border-color: black;
  border-radius: 15px;
  margin: 20px 0 20px 20px;
  align-self: center;
  box-shadow: 4px 4px 12px rgba(1, 0, 0, 0.2);
}
.anchorCity {
  text-decoration: none;
  color: grey;
  margin: 5px;
}
.anchorCity:hover {
  color: black;
}
