.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.city-main-container {
  width: 100vw;
}
.conteinerSearch {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/mytinerary-11a55.appspot.com/o/istockphoto-681719680-1024x1024.jpg?alt=media&token=81d89be5-4325-4b94-8fa2-94df3f4f0a20");
  /*  background-image: linear-gradient(to top, rgba(137, 78, 2, 0.258), white); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 60vh;
  background-position: center 35%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.searchCity {
  width: 50vw;
  height: 3em;
  display: flex;
  justify-content: center;
  text-align: start;
  padding-left: 1rem;
  border-color: black;
  border-radius: 15px;
  margin: 20px 0 20px 20px;
  align-self: center;
  box-shadow: 4px 4px 12px rgba(1, 0, 0, 0.2);
}
.anchorCity {
  text-decoration: none;
  color: grey;
  margin: 5px;
}
.anchorCity:hover {
  color: black;
}
