.body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.city-main-container {
  width: 100vw;
}
.conteinerSearch {
  /*  background-image: url("../../public/imgimadrid.jpg"); */
  background-image: linear-gradient(to top, rgba(137, 78, 2, 0.258), white);
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;

  display: flex;
  justify-content: center;
  align-items: center;
}
.searchCity {
  width: 50vw;
  height: 3em;
  display: flex;
  justify-content: center;
  text-align: center;
  border-color: black;
  border-radius: 15px;
  margin: 20px 0 20px 20px;
  align-self: center;
  box-shadow: 4px 4px 12px rgba(1, 0, 0, 0.2);
}
.anchorCity {
  text-decoration: none;
  color: grey;
  margin: 5px;
}
.anchorCity:hover {
  color: black;
}
