.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 30px; /* Espacio entre las tarjetas */
}
.cities-card {
  height: 500px;
}

.imageCity {
  width: 100%;
  max-height: 320px;

  object-fit: cover;
}

h4 {
  margin: 10px 4px;
}

p {
  margin: 5px 4px;
}
.cities-card {
  box-shadow: 0px 2px 8px rgba(1, 0, 0, 0.2);
  border-radius: 8px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
}
.cities-card:hover {
  transform: scale(1.02);
}
@media (max-width: 426px) {
  .container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
