/* .container-body {
  display: flex;
  justify-content: center;
  align-items: start;
} */

.container-hero {
  font-size: 1.3rem;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 1280px;
  background-image: url("../public/img/paris-100277_1280.jpg");
  color: rgb(12, 76, 131);
  object-fit: cover;
  height: 600px;
}
.img-hero {
  max-width: 150px;
}
