.form-container {
  min-width: 100vw;
  min-height: 70vh;
  background-color: rgb(232, 236, 209);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
.form-signin {
  background-image: url("public/img/ventana-avion.png");
  background-size: cover; /* Ajusta la imagen para cubrir todo el fondo */
  background-position: center; /* Centra la imagen */
  background-repeat: no-repeat;
}
.formulary {
  /* background-color: bisque; */
  border-radius: 5px;
  max-width: 80vw;
  min-width: 70vw;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 10px 8px rgba(1, 0, 0, 0.2);
}

.input-email,
.input-password {
  width: 40vw;
}
