.form-container {
  min-width: 100vw;
  min-height: 70vh;
  background-color: rgb(116, 116, 248);
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulary {
  background-color: bisque;
  border-radius: 5px;
  /*  max-width: 100vw; */
  min-width: 100vw;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  box-shadow: 10px 10px 8px rgba(1, 0, 0, 0.2);
}
.label {
  width: 100%;
  margin-top: 1rem;
}
.input {
  border-radius: 5px;

  /*  margin-left: 2rem; */
}
#select {
  border-radius: 5px;
  /*  min-width: 60vh; */
  /*  max-width: 40vw; */
  margin-left: 1rem;
}
.name {
  margin-left: 1rem;
  text-align: left;
  width: 400px;
}
.email {
  margin-left: 1rem;
  width: 400px;
}
.photo {
  margin-left: 1rem;
  width: 400px;
}

.age {
  margin-left: 1rem;
  width: 400px;
}
.password {
  margin-left: 1rem;
  text-align: left;
  width: 400px;
}
.phone {
  margin-left: 1rem;
  width: 400px;
}
/* #select {
  min-width: 60vh;
  max-width: 90vw;
  margin-left: 2rem;
}
 */
.btn {
  margin-bottom: 0.5rem;
}
@media ((max-width: 426px)) {
  .name {
    text-align: left;
    max-width: 210px;
  }
  .email {
    max-width: 210px;
  }
  .photo {
    width: 400px;
    max-width: 210px;
  }

  .age {
    width: 400px;
    max-width: 210px;
  }
  .password {
    text-align: left;
    width: 400px;
    max-width: 210px;
  }
  .phone {
    max-width: 210px;
  }
  #select {
    max-width: 210px;
  }
}
