* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#nombreHeader {
  color: rgb(4, 4, 75);
  margin-left: 2rem;
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;
}

.cross {
  display: none;
}
.checkbox:checked ~ .burger {
  display: none;
}
.checkbox:checked ~ .cross {
  display: block;
}

.navbar {
  background-color: coral;
  height: 48px;
  display: flex;
  justify-content: space-evenly;

  border: 1px solid #646161;
  position: relative;
  cursor: pointer;
  flex-wrap: wrap; /*cambio*/
}
.checkbox,
.icons {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 12px;
}
.icons {
  pointer-events: none;
  font-size: 24px;
}
.checkbox {
  opacity: 0;
}
#nombreHeader {
  font-size: 1.5rem;
}

.menu {
  width: 200px;
  position: absolute;

  top: -129px;
  right: 0px;
  transition: 270ms;
}
.menu li {
  list-style: none;
  border-top: 1px solid rgb(251, 4, 4);
}
.menu li a {
  text-decoration: none;
  color: black;
  background-color: coral;
  display: block;
  padding: 10px 12px;
  text-shadow: 1px 1px 1px black;
}
.menu li a:hover {
  background-color: rgb(246, 153, 119);
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.menu ul li a:hover {
  background-color: rgb(247, 80, 20);
  color: white;
  border: none;
  box-shadow: 2px 2px 2px rgb(73, 27, 10);
}
.bt-logout {
  border-radius: 8px;
  padding-right: 2rem;
  text-decoration: none;
  color: black;
  background-color: coral;
  display: block;
  padding: 10px 12px;
  text-shadow: 1px 1px 1px black;
}
.bt-logout:hover {
  background-color: rgb(247, 80, 20);
  color: white;
  border: none;
  box-shadow: 2px 2px 2px rgb(73, 27, 10);
}

.boton-nav a {
  text-decoration: none;
}
.checkbox:checked ~ .menu {
  top: 48px;
}
@media (min-width: 560px) {
  .checkbox,
  .icons {
    display: none;
  }
  .navbar {
    height: 80px;
  }
  .menu {
    top: 0;
    width: unset;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu ul {
    margin-left: 4rem;
  }
  .menu a {
    border: 1px solid black;
    margin: 0.8rem 3rem 0 0;
    border-radius: 8px;
    box-shadow: 1px 1px 1px black;
  }
  #nombreHeader {
    color: rgb(4, 4, 75);
    margin-left: 5rem;
    font-size: 2rem;
    text-shadow: 1px 1px 1px black;
  }
}
