* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.cross {
  display: none;
}
.checkbox:checked ~ .burger {
  display: none;
}
.checkbox:checked ~ .cross {
  display: block;
}

.navbar {
  background-color: coral;
  height: 48px;
  /*   display: flex;
  max-width: 100%;
  box-sizing: border-box; */
  /*  justify-content: space-around; */
  /*   align-items: center; */
  border: 1px solid #646161;
  position: relative;
  cursor: pointer;
}
.checkbox,
.icons {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 12px;
}
.icons {
  pointer-events: none;
  font-size: 24px;
}
.checkbox {
  opacity: 0;
}
#nombreHeader {
  font-size: 1.5rem;
}

.menu {
  width: 200px;
  position: absolute;

  top: -125px;
  right: 0px;
  transition: 250ms;
}
.menu li {
  list-style: none;
}
.menu li a {
  text-decoration: none;
  color: black;
  background-color: coral;
  display: block;
  padding: 10px 12px;
}
.menu li a:hover {
  background-color: rgb(246, 153, 119);
}

.menu ul li a:hover {
  background-color: rgb(247, 80, 20);
  color: white;
  border: none;
  box-shadow: 2px 2px 2px rgb(73, 27, 10);
}

.boton-nav a {
  text-decoration: none;
}
.checkbox:checked ~ .menu {
  top: 48px;
}
