.header-main {
  background-color: coral;
  height: 15vh;
  display: flex;
  max-width: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #646161;
  box-shadow: 0px 0px 7px 5px #646161;
}
h1 {
  font-size: 1.2rem;
  text-shadow: 0px 0px 7px 5px #646161;
}

.container-btn ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.container-btn ul li a {
  text-decoration: none;
  padding: 0.5em 1em;
  color: black;
  border: 1px solid black;
  border-radius: 8px;
}
.container-btn ul li a:hover {
  background-color: rgb(247, 80, 20);
  color: white;
  border: none;
  box-shadow: 2px 2px 2px rgb(73, 27, 10);
}

.boton-nav {
  background-color: #646161;
  box-shadow: 0px 0px 3px 3px #646161;
  color: white;
}
.boton-nav a {
  text-decoration: none;
}
