footer {
  font-size: 1rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background-image: linear-gradient(to top, rgb(225, 26, 26), white);
}

.container-menu ul li {
  list-style: none;
  display: flex;
}
.anchor {
  width: max-content;
  background-color: coral;

  margin-bottom: 1rem;
  padding: 0.4rem;
  list-style: none;
  text-decoration: none;
  color: white;
  font-size: 1.5rem;
  border: 1px solid black;
  box-shadow: 4px 4px 4px black;
  border-radius: 8px;
}
.anchor:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 4px black;
}
.container-redes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-search {
  display: flex;
  justify-content: center;
  align-items: top;
}
.bt-search {
  background-color: coral;
  height: 2.2rem;
  margin-right: 1rem;
  padding: 0.3rem;
  border-radius: 8px;
  color: white;
  box-shadow: 4px 4px 4px black;
}

.input-search {
  margin-left: 0.3rem;
  height: 2.2rem;
  border-radius: 15px 15px 15px 15px;
}
.input-search:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 4px black;
}
.bt-search:hover {
  transform: scale(1.02);
  box-shadow: 4px 4px 4px black;
}
