.section-carousel {
  max-width: 100vw;
  display: flex;
  justify-content: center;
}

.contenedor-carrusel {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  object-fit: cover;
}
.img-carrusel {
  border: 3px solid rebeccapurple;
  width: 250px;
}

/* .btn-carrusel {
  height: 4em;
  font-size: 3em;
}
 */
