.section-carousel {
  width: 100vw;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-sizing: border-box;
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tituloCarrusel {
  margin: 3rem 0rem;
  text-align: center;
  background: #0f2027; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2c5364,
    #203a43,
    #0f2027
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: rgb(190, 190, 224);
  text-shadow: 0px 2px 2px #2b91f1e4;
}
.hands {
  display: flex;
}

.contenedor-carrusel {
  margin: 50px 0px 50px 0px;
  box-sizing: border-box;
  text-shadow: 0px 2px 2px #2b91f1e4;

  width: 90vw;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  object-fit: cover;
}
.contenedorImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 450px;
  max-height: 300px;
  border-radius: 5px;
}
.contenedorImg > p {
  color: aliceblue;
}
.img-carrusel {
  margin: 3px;
  border: 1px solid rebeccapurple;

  box-shadow: 0px 2px 2px #2b91f1e4;
  width: 420px;
  height: 260px;
  border-radius: 5px;
}

.bt-carrusel {
  height: 4em;
  font-size: 5rem;
  border-radius: 50%;
  border: none;
}
.btn-hero {
  width: auto;
  box-shadow: 0px 0px 5px 3px #000000;
}
@media (max-width: 321px) {
  .bt-carroucel-prev {
    z-index: 1;
  }
  .contenedorImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 315px;
    max-height: 170px;
  }
  .img-carrusel {
    margin: 3px;
    border: 1px solid rebeccapurple;
    border-radius: 3px;
    width: 310px;
    height: 140px;
  }
}
@media (max-width: 376px) {
  .bt-carroucel-prev {
    z-index: 1;
  }
  .contenedorImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 315px;
    max-height: 170px;
  }
  .img-carrusel {
    margin: 3px;
    border: 1px solid rebeccapurple;
    border-radius: 3px;
    width: 315px;
    height: 140px;
    object-fit: cover;
  }
}
@media (max-width: 541px) {
  .tituloCarrusel {
    margin-bottom: 2rem;
    text-align: center;
    background-color: #000000;
    color: rgb(3, 3, 226);
  }
  .contenedorImg {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 315px;
    /*  max-height: 170px; */
  }
  .section-carousel {
    width: 100vw;
    height: 100%;
    box-sizing: border-box;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
  }
}
